body {
    background-color: #24252A;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  
  .form-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin: 1rem 0;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #FFFFFF;
    color: #24252A;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.25L5 7.25L9 3.25' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
  }
  
  button[type="submit"] {
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    background-color: #3D84A8;
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #63ACE5;
  }  