<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/Home/add-team-to-tournament.css">

  <title>Add a team to a tournament</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Add a team to a tournament</h1>
      <a href="#" class="back-btn"><i class="fas fa-arrow-left"></i> Back to Menu</a>
    </div>
    <div class="form-container">
      <form>
        </div>
        <div class="form-group">
          <label for="team-name">Team Name:</label>
          <input type="text" id="team-name" placeholder="Enter team name" required>
        </div>
        <button type="submit" id="add-team-btn">Add Team</button>
      </form>
    </div>
  </div>
</body>
</html>